.track {
  &__btn {
    position: fixed;
    right: 20px;
    bottom: 80px;
    cursor: pointer;
    font-size: 18px;
    padding: 4px 8px;
  }
  &__close {
    user-select: none;
    width: 27px;
    height: 27px;
    font-size: 26px;
    color: #f4364c;
    position: absolute;
    right: -11px;
    top: -11px;
    z-index: 1;
  }
  &__content {
    position: fixed;
    right: 28px;
    bottom: 130px;
    box-shadow: rgb(0 0 0 / 35%) 0 6px 100px 0;
    background-color: white;
    border-radius: 8px;
    transition: all 0.3s;
    padding: 32px 16px;
    &--hidden {
      visibility: hidden;
      opacity: 0;
      bottom: 110px;
    }
    &--visible {
      visibility: visible;
      opacity: 1;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      &--odd {
        background-color: #f8f8f0;
      }
      div:nth-of-type(1), div:nth-of-type(2) {
        flex: 1;
        text-align: center;
      }
    }
  }
}
