.sourcemap {
  display: flex;
  flex-direction: column;
  padding: 32px;
  flex: 1;
  height: 0;
  background-color: white;
  &__test {
    flex: 1;
    display: flex;
  }
}

// ant 全局样式覆盖
.ant-tabs-content {
  height: 100%;
  overflow: auto;
}